<div>
    <h1>Vista de Productos</h1>
    <br>

    <% if (prodAmount){ %>
    <div>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
            <%product.forEach(function(elem) {%>
            <tr>
                <td><%=elem.title%></td>
                <td><%=elem.price%></td>
                <td><img width="50" src=<%=elem.thumbnail%> alt="not found"></td>
            </tr>
            <%});%>
        </table>
    </div>
    <% } else { %>
        <h3>No se encontraron productos</h3>
    <% } %>
    <br>
    <a href="/" type="button">Cargar un nuevo producto</a>
</div>